.ul-container {
    list-style-type: none;
    padding: 0;
  }
  
  .ul-container__li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .item-li {
    flex: 1;
    margin-right: 10px;
  }
  
  .item-button {
    flex: 0;
  }
  
  .item-button button {
    background-color: #005082;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .item-button button:hover {
    background-color: #005082;
  }
  